Body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
}

Header,
Nav,
Section,
Aside,
Footer {
    background-color: #ebebeb;
    text-align: center;
    padding: 20px;
    border: 10px;
    margin: 10px;
}

article {
    color: #ebebeb;
    background: #777;
    width: 400px;
    text-align: center;
    height: 300px;
}

h1,
p {
    color: #777;
    background: #ebebeb;
}

section {
    width: 495px;
    float: left;
}

aside {
    float: right;
}

footer {
    clear: both;
}